@font-face {
  font-family: Chinese Rocks Bold Cyrillic;
  src: url(../font/Chinese_Rocks_Bold_Cyrillic.ttf);
}
@font-face{
  font-family: Saffron Cyr;
  src: url(../font/Saffron_Cyr.ttf);
}
@font-face{
  font-family: Rurintania;
  src: url(../font/Rurintania.ttf);
}
@font-face{
  font-family: Sevilla Decor;
  src: url(../font/Sevilla_Decor.ttf);
}
@font-face{
  font-family: Caviar Dreams;
  src: url(../font/Caviar_Dreams.ttf);
}
@font-face{
  font-family: Boozy;
  src: url(../font/Boozy.ttf);
}Balkara_Condensed

@font-face{
  font-family: Balkara;
  src: url(../font/Balkara.ttf);
}
html {
background-image: url(../images/sacondscreen.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media (min-width: 1920px) {

  header {
  position: fixed;
  top: 30px;
  left: 40px;
  }

  .wrapper {
  height: 100vh;
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.home_page a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #6d99ab;
  font-size: 45px;
  line-height: 1;
}

.home_page a:hover {
  color: #947d32;
  text-decoration: underline;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Monserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.village_title a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #e68525;
  font-size: 35px;
  line-height: 1;
}
span {
    font-size: 0.9vw;
}

.village_title a:hover {
  color: #d61532;
  text-decoration: underline;
}

.card {
width: 260px;
height: 360px;
cursor: pointer;
position: relative;
top: 25%;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
  background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
    width: 100%;
    height: 100%;
}

.back {
  background: linear-gradient(#358525, #4edec6);
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card::before {
animation-delay: 0.5s;
}

.card::before {
content: '';
position: absolute;
border: 3px solid #FFF0F5;
opacity: 0;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;
border-radius: 10px;
animation: card 4s linear infinite;
box-shadow: 0 0 0 4px #6d99ab;
}

@keyframes card {
0% {
  transform: scale(1);
  opacity: 0;
}
50% {
  transform: scale(1.05);
  opacity: 1;
}
100% {
  transform: scale(1.1);
  opacity: 0;
}
}
}

@media (min-width: 1200px) and (max-width: 1919px) {
  header {
  position: fixed;
  top: 20px;
  left: 40px;
}

.home_page a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #6d99ab;
  font-size: 45px;
  line-height: 1;
}

.home_page a:hover {
  color: #947d32;
  text-decoration: underline;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Monserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.village_title a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #e68525;
  font-size: 35px;
  line-height: 1;
}

span {
    font-size: 0.9vw;
}

.village_title a:hover {
  color: #d61532;
  text-decoration: underline;
}

.wrapper {
height: 100vh;
width: 90%;
margin: auto;
position: relative;
display: flex;
justify-content: space-around;
}

.card {
width: 260px;
height: 360px;
cursor: pointer;
position: relative;
top: 25%;
margin: 1%;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
  background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
    width: 100%;
    height: 100%;
}

.back {
  background: linear-gradient(#358525, #4edec6);
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card::before {
content: '';
position: absolute;
border: 3px solid #FFF0F5;
opacity: 0;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;
border-radius: 10px;
animation: card 2s linear infinite;
box-shadow: 0 0 0 4px #6d99ab;
}
.card::before {
animation-delay: 0.5s;
}

@keyframes card {
0% {
  transform: scale(1);
  opacity: 0;
}
50% {
  transform: scale(1.03);
  opacity: 1;
}
100% {
  transform: scale(1.05);
  opacity: 0;
}
}
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
  position: fixed;
  top: 20px;
  left: 40px;
}

.home_page a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #6d99ab;
  font-size: 45px;
  line-height: 1;
}

.home_page a:hover {
  color: #947d32;
  text-decoration: underline;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Monserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.village_title a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #e68525;
  font-size: 30px;
  line-height: 1;
}

span {
    font-size: 0.9vw;
}

.village_title a:hover {
  color: #d61532;
  text-decoration: underline;
}

.wrapper {
height: 100vh;
width: 90%;
margin: auto;
position: relative;
display: flex;
justify-content: space-around;
}

.card {
width: 185px;
height: 256px;
cursor: pointer;
position: relative;
top: 25%;
margin: 1%;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
  background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
    width: 100%;
    height: 100%;
}

.back {
  background: linear-gradient(#358525, #4edec6);
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card::before {
content: '';
position: absolute;
border: 3px solid #FFF0F5;
opacity: 0;
left: -2px;
right: -2px;
top: -2px;
bottom: -2px;
border-radius: 10px;
animation: card 2s linear infinite;
box-shadow: 0 0 0 4px #6d99ab;
}
.card::before {
animation-delay: 0.5s;
}

@keyframes card {
0% {
  transform: scale(1);
  opacity: 0;
}
50% {
  transform: scale(1.03);
  opacity: 1;
}
100% {
  transform: scale(1.05);
  opacity: 0;
}
}
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
  position: fixed;
  top: 15px;
  left: 40px;
}

.home_page a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #6d99ab;
  font-size: 45px;
  line-height: 1;
}

.home_page a:hover {
  color: #947d32;
  text-decoration: underline;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Monserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.village_title a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #e68525;
  font-size: 25px;
  line-height: 1;
}

.village_title a:hover {
  color: #d61532;
  text-decoration: underline;
}

span {
    font-size: 0.9vw;
    padding: 5%;
}

.wrapper {
height: 100vh;
width: 90%;
margin: auto;
position: relative;
display: flex;
justify-content: space-around;
}

.card {
width: 145px;
height: 200px;
cursor: pointer;
position: relative;
top: 30%;
margin: 1%;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
  background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
    width: 100%;
    height: 100%;
}

.back {
  background: linear-gradient(#358525, #4edec6);
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .back  h1 {
    color: #FFF;
    font-size: 10px;
}

.back  span {
    color: #FFF;
    font-size: 12px;
}

.back h1 span {
      display: block;
      font-size: 10px;
      font-weight: 200;
      margin: 10px 10px 10px;
      padding: 1%;
} */

.card::before {
content: '';
position: absolute;
border: 3px solid #FFF0F5;
opacity: 0;
left: -1px;
right: -1px;
top: -1px;
bottom: -1px;
border-radius: 10px;
animation: card 2s linear infinite;
box-shadow: 0 0 0 4px #6d99ab;
}
.card::before {
animation-delay: 0.5s;
}

@keyframes card {
0% {
  transform: scale(1);
  opacity: 0;
}
50% {
  transform: scale(1.03);
  opacity: 1;
}
100% {
  transform: scale(1.05);
  opacity: 0;
}
}
}

@media (max-width: 480px) {
  header {
  position: static;
  margin-top: 20px;
  margin-left: 20px;
  /* margin: 1.5%; */
}

.home_page a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #6d99ab;
  font-size: 45px;
  line-height: 1;
}

.home_page a:hover {
  color: #947d32;
  text-decoration: underline;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Monserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.village_title a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #e68525;
  font-size: 35px;
  line-height: 1;
}

span {
    font-size: 4vw;
    padding: 5%;
}

.village_title a:hover {
  color: #d61532;
  text-decoration: underline;
}

.wrapper {
height: 100%;
width: 70%;
margin-top: 15%;
margin-left: auto;
margin-right: auto;
position: relative;
display: flex;
/* justify-content: space-around; */
flex-direction: column;
}

.card {
width: 260px;
height: 360px;
cursor: pointer;
position: relative;
top: 15%;
margin: 4%;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
  background: linear-gradient(#D6D6D6, #F2F2F2);
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
    width: 100%;
    height: 100%;
}

.back {
  background: linear-gradient(#358525, #4edec6);
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .back  h1 {
    color: #FFF;
    font-size: 16px;
}

.back  span {
    color: #FFF;
    font-size: 14px;
}

.back h1 span {
      display: block;
      /* font-size: 16px;
      font-weight: 200;
      margin: 10px 10px 10px;
} */

.card::before {
content: '';
position: absolute;
border: 3px solid #FFF0F5;
opacity: 0;
left: -1px;
right: -1px;
top: -1px;
bottom: -1px;
border-radius: 10px;
animation: card 2s linear infinite;
box-shadow: 0 0 0 4px #6d99ab;
}
.card::before {
animation-delay: 0.5s;
}

@keyframes card {
0% {
  transform: scale(1);
  opacity: 0;
}
50% {
  transform: scale(1.03);
  opacity: 1;
}
100% {
  transform: scale(1.05);
  opacity: 0;
}
}
}

/*.map {
    position: relative;
}
.map img {
    width: 100%;
    height: auto;
}
.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map svg path {
    fill: none;
    pointer-events: all;
    cursor: pointer;
}
.map svg path:hover {
    animation: hoverElement 2s linear infinite;
}
@keyframes hoverElement{
    0% {
        stroke: #000000;
    }
    50% {
        stroke: #fc0000;
    }
    100% {
        stroke: #000000;
    }
}
popup.querySelector('.info__photo').setAttribyte('src', this.dataset.photo);
        popup.querySelector('.info__title').innerText = this.dataset.title;
        popup.querySelector('.info__text').innerText = this.dataset.text;
        popupBg.classList.add('active');
    });
popup.querySelector('.info__photo').setAttribyte('src', this.dataset.photo);
        popup.querySelector('.info__title').innerText = this.dataset.title;
        popup.querySelector('.info__text').innerText = this.dataset.text;
        popupBg.classList.add('active');


        <a href="../subfolder/village_ani.html">
