@font-face {
  font-family: Chinese Rocks Bold Cyrillic;
  src: url(../font/Chinese_Rocks_Bold_Cyrillic.ttf);
}
@font-face{
  font-family: Saffron Cyr;
  src: url(../font/Saffron_Cyr.ttf);
}
@font-face{
  font-family: Rurintania;
  src: url(../font/Rurintania.ttf);
}
@font-face{
  font-family: Sevilla Decor;
  src: url(../font/Sevilla_Decor.ttf);
}

html {
background-image: url(../images/firstscreen.JPG);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.face{
  font-family: "Chinese Rocks Bold Cyrillic";
  margin-left: auto;
  margin-right: auto;
  width: center;
  text-align: center;
  color: #7196d1;
  font-size: 150px;
  position: relative;
  margin-top: 200pt;
  line-height: 1.64;
}

.navbar {
  display: flex;
  position: sticky;
  top: 1900px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}


.btn:link,
.btn:visited {
  font-family: "Sevilla Decor";
  text-decoration: none;
  font-size: 3vw;
  color: #ffffff;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.btn:hover {
    color: #7196d1;
    background-color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-scnd {
    /* background-color: #fff; */
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-scnd::after {
  border: 3px solid currentColor;
  /* background-color: #fff; */
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
