@font-face {
  font-family: Chinese Rocks Bold Cyrillic;
  src: url(../font/Chinese_Rocks_Bold_Cyrillic.ttf);
}
@font-face{
  font-family: Saffron Cyr;
  src: url(../font/Saffron_Cyr.ttf);
}
@font-face{
  font-family: Rurintania;
  src: url(../font/Rurintania.ttf);
}
@font-face{
  font-family: Sevilla Decor;
  src: url(../font/Sevilla_Decor.ttf);
}
@font-face{
  font-family: Caviar Dreams;
  src: url(../font/Caviar_Dreams.ttf);
}
html {
background-image: url(../images/village_screen.JPG);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
header {
  position: fixed;
  top: 10px;
  left: 40px;
}
.home_page a {
  font-family: "Chinese Rocks Bold Cyrillic";
  text-decoration: none;
  color: #6d99ab;
  font-size: 45px;
  line-height: 1;
}
.home_page a:hover {
  color: #947d32;
  text-decoration: underline;
}
body {
  min-height:100vh;
  display:grid;
  place-content:start center;
}
article {
  position: absolute;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  color: #ffffff;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
article h2,
article p {
  margin: 10px;
}
article h2 {
  font-size: 1.2rem;
}
article p {
  font-size: 1.1rem;
  line-height: 1.4;
}

*, *:after, *:before {
  padding:0;
  margin:0;
  font-family:Arial;
}


ul {
  position:absolute;
  top:400px;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  list-style:none;
  width:955px;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px white;
}


li {
  position:relative;
  width:190px;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px white;
}

ul li:first-child {
  border:none;
}

span {
  display:block;
  position:absolute;
  bottom:0;
  width:50%;
  color:white;
  white-space:nowrap;
  padding:20px;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

img {
  width:800px;
  height:450px;
}

ul:hover li {
  width:50px;
}


ul li:hover {
  width:750px;
}
/* .g {
  margin-top: 6vh;
  width: auto;
  height: 5vh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 10vh;
  place-content: start center;
  z-index: 1;
  transition: all 1s;
  position: relative;
  top: 5vh;
}
.g:hover {
  background: linear-gradient(transparent, hsla(0, 0%, 100%, 0.5), transparent);
  height: 95vh;
  width: 50vw;
}
.g .imag {
  font: 0.8em monospace;
  position: static;
  display: block;
  width: 5ch;
  height: 5ch;
  display: grid;
  place-content: center;
  background: hsla(0, 0%, 100%, 0.5);
  color: #333;
  text-decoration: none;
  border-bottom: thin solid red;
  box-sizing: border-box;
}
.g .imag:hover {
  background: hsla(0, 0%, 0%, 0.5);
  color: #eee;
  border-bottom: 0 none;
}
.g .imag img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path 0.3s ease-in;
}
.g .imag:hover img,
.g .imag img:hover {
  clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%);
}
article {
  margin-top: 3vh;
  transition: filter 0.5s;
  font-family: "Caviar Dreams";
  font-weight: bolder;
}
.g:hover + article {
  filter: blur(3px);
} */

.comm {
  position: relative;
  top: 920px;
  width: 900px;
  background-color: rgba(255,255,255, 0.5);
  padding: 2% 2% 0% 2%;
}
